doctype html
html(lang='es')
  head
    include partials/header
  body
    .contenedor-principal.login.error-404
      h2 Esa página no existe mi chavo.
      img(src='/assets/failedLogin.gif' alt='El gif')
      a(href='/') Dejar de ser curioso