html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**Reset para REMS - 62.5% = 10px de 16px*/
    background-color: var(--fondo);
    user-select: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --fondo: #e7e7e7;
    --correcto: #3bd964;
    --incorrecto: #d93b5b;
    --basura: #d99c3b;
    --claro: #fbfbfb;
    --oscuro: #242121;
    --black: #000000;
    --btn-proyecto-tarea: #0085ff;
    --sidebar: #23374d;
    --light-gray: #5d5c61;
    --color-principal: #8de4af;
}

h2,
h3,
a,
p,
i,
select,
span,
button,
.tooltiptext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: var(--color-principal);
    font-size: 2.8rem;
}

h3 {
    font-size: 2.8rem;
    color: var(--light-gray);
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--claro);
    font-size: 1.5rem;
}

.contenedor-principal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* GLOBALES */

.campo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}

.sidebar {
    background-color: var(--sidebar);
}

a.completo,
a.nocompleto,
a.basura {
    color: var(--oscuro);
}

a.completo.activo {
    color: var(--correcto);
}

a.nocompleto.activo {
    color: var(--incorrecto);
}

a.completo:hover {
    color: var(--correcto);
    transition: .2s ease-in-out;
}

a.nocompleto:hover {
    color: var(--incorrecto);
    transition: .2s ease-in-out;
}

a.basura:hover {
    color: var(--basura);
    transition: .2s ease-in-out;
}

div.barra {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
}

div.barra a {
    color: var(--oscuro);
    margin: 0 1rem;
}

div.barra a.volver {
    font-weight: 700;
}

div.barra a i {
    margin-right: 0.5rem;
}

div.barra a.volver:hover {
    filter: drop-shadow(0 0 1rem var(--oscuro));
    transition: .2s ease-in-out;
}

div.barra a.volver:hover i {
    padding-right: 0.3rem;
    transition: .2s ease-in-out;
}

.botonazul {
    display: inline-flex;
    justify-content: space-evenly;
    border: 1px solid var(--oscuro);
    border-radius: 2rem;
    padding: 1rem 1.2rem;
    align-items: center;
}

.botonazul:hover {
    background-color: var(--btn-proyecto-tarea);
    border: 1px solid var(--btn-proyecto-tarea);
    transform: scale(1.15);
    transition: .3s all;
    color: var(--claro);
}


/* LOGIN */

.login .contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .contenido img {
    width: 55rem;
}

.login {
    background-color: var(--black);
    height: 100vh;
    justify-content: center;
    color: var(--claro);
    text-align: center;
    padding-left: 2rem;
}

.login img {
    width: 10rem;
}

.login .encabezado i {
    color: var(--claro);
    font-size: 2rem;
}

.caja-login {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60rem;
    height: 40rem;
}

.login .campo label {
    text-align: left;
    height: 2rem;
    color: var(--claro);
}

.login .campo input {
    width: 100%;
    background-color: var(--oscuro);
    color: var(--claro);
}

.login input[type="submit"] {
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
    border: 1px solid var(--claro);
    background: none;
    border-radius: 2rem;
    color: var(--claro);
}

.login input[type="submit"]:hover {
    transition: .3s ease-in-out;
    transform: scale(1.050);
    background-color: var(--claro);
    color: var(--oscuro);
    cursor: pointer;
}

body.loader {
    position: relative;
}

.loading {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    z-index: 21;
}


/* SIDEBAR*/

aside {
    width: 25%;
    height: 100vh;
    padding: 1rem;
}

.sidebar {
    height: 100%;
    padding: 2rem 2rem;
    color: var(--claro);
    box-shadow: 1px 1px 10px 0.5rem var(--light-gray);
}

.sidebar .barraprogreso {
    height: 20rem;
    width: 20rem;
    margin: 0 auto;
    text-align: center;
}

.barraprogreso .circulo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 7px solid var(--claro);
    border-radius: 50%;
}

.circulo p {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

.circulo span {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0.5rem;
}


/* SIDEBAR INDEX */

div.detallesproyectos .user {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

div.user h2 {
    font-size: 2rem;
    align-self: center;
    font-weight: 300;
}

div.user h2 span {
    font-weight: 500;
}

div.detallesproyectos p {
    font-size: 1.8rem;
}

div.user img {
    border: 1px solid var(--claro);
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    align-self: center;
    margin-right: 0.5rem;
}

div.acciones {
    display: inline-flex;
    flex-direction: column;
}

div.acciones a {
    margin-top: 1rem;
    font-size: 1.8rem;
}

div.acciones a i {
    font-size: 2.4rem;
    margin-right: 0.5rem;
}


/* SIDEBAR PROYECTO */

.detallesproyecto {
    display: flex;
    flex-direction: column;
}

.detallesproyecto p {
    font-size: 1.5rem;
    margin: 1rem;
    line-height: 1;
}

.detallesproyecto .opcionesproyecto {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.opcionesproyecto a {
    font-weight: 300;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 2rem;
}

.opcionesproyecto a:hover {
    font-weight: 700;
    border: 1px solid var(--incorrecto);
    color: var(--incorrecto);
    transform: scale(1.15);
    transition: .3s all;
}


/* MAIN */


/* LISTADO DE PROYECTOS */

div.contenido {
    width: 75%;
    padding: 1rem 3rem;
    margin-top: 1rem;
}

div.listadoproyectos {
    margin-top: 3rem;
}

div.proyecto a {
    display: flex;
    border: 3px solid var(--light-gray);
    margin: 1rem 0;
    background-color: var(--claro);
}

div.proyecto:hover {
    transform: scale(1.045);
    transition: .3s all;
    box-shadow: 1px 1px 10px 0.5rem var(--light-gray);
}

div.proyecto h2.nombreproyecto {
    width: 25%;
    color: var(--light-gray);
    align-self: center;
    text-align: center;
}

div.proyecto p {
    width: 50%;
    color: var(--light-gray);
    align-self: center;
    text-align: center;
    font-style: italic;
}

div.proyecto h3 {
    width: 15%;
    align-self: center;
    text-align: center;
}

div.proyecto p {
    margin: 0 0.5rem;
}

div.estado-proyecto {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 1rem 0;
}

div.estado-proyecto>div {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.4rem 1rem;
    border-radius: 50%;
    opacity: 0.25;
}

div.on-time {
    background-color: var(--correcto);
    /* opacity: 1!important; */
}

div.halfway {
    background-color: gold;
}

div.ended {
    background-color: var(--incorrecto);
}


/* DEPARTAMENTOS */

.departamentos {
    display: flex;
    justify-content: space-evenly;
}

.departamentos .barraDepto {
    display: flex;
    justify-content: space-between;
}

.barraVacia {
    width: 7rem;
    height: 0.7rem;
    align-self: center;
    border-radius: 2rem;
    margin: 0 1rem;
    background-color: var(--light-gray);
}

.barraVacia:hover {
    filter: drop-shadow(0 0 1rem gold);
    transition: .3s ease-in-out;
}

.progresoDepto {
    width: 0%;
    height: 0.7rem;
    border-radius: 2rem;
}

#barraAnalisis {
    background-color: lime;
}

#barraDiseno {
    background-color: blueviolet;
}

#barraCoding {
    background-color: turquoise;
}

#barraTesting {
    background-color: orange;
}

#barraSoporte {
    background-color: gold;
}


/* GRID TAREAS  Y BARRA*/

div.tareas {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

div.tarea {
    border: 4px solid var(--light-gray);
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--oscuro);
    background-color: var(--claro);
}

div.tarea h3 {
    margin: 0;
}

div.tarea p.descripcion {
    margin: 1rem;
}

div.opcionestarea {
    display: flex;
    justify-content: space-evenly;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 1.5rem;
    visibility: hidden;
    width: 12rem;
    background-color: var(--oscuro);
    color: var(--claro);
    text-align: center;
    border-radius: 6px;
    padding: 1rem 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

div.opcionestarea a {
    font-size: 2.5rem;
    margin: 1rem;
}

div.selects,
.opcionestarea {
    display: flex;
    justify-content: space-evenly;
}


/* SELECT */

div.selects select {
    border: 1px solid var(--btn-proyecto-tarea);
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    text-align: left;
}

select#prioridad {
    width: 6rem;
}


/* FORMULARIOS */

form {
    font-family: 'Lato', sans-serif;
    position: relative;
}

fieldset {
    display: flex;
}

legend {
    font-size: 3rem;
    margin: 1rem;
}

label,
input,
textarea,
select {
    display: block;
    margin: 1rem;
    font-size: 2rem;
    width: 70%;
}

label.color {
    display: inline-block;
}

input#color {
    display: inline-block;
    width: 5rem;
    height: 4rem;
    padding: 0;
    border: none;
}

input:not([type="submit"]),
textarea,
select {
    border-radius: 1rem;
    border: 1px solid var(--oscuro);
    padding: 0.5rem;
}


/*
    Esta pequeña animación.
    Si se quita el overflow hidden, se verán las barras debajo del botón. Por eso es "hidden".
    Mueves las posiciones del position.
    Background-transparent quién sabe que sea, pero se ocupa.
    z-index es para declarar capas.
*/

.boton {
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: -7rem;
    left: 2rem;
    margin: 1rem;
    overflow: hidden;
}

input.btnEnviar {
    position: absolute;
    width: 100px;
    height: 100%;
    background: transparent;
    border: 2px solid var(--oscuro);
    cursor: pointer;
    color: var(--oscuro);
    font-size: 1.8rem;
    margin: 0;
}

.bg {
    position: absolute;
    width: 20px;
    height: 100%;
    background: #ea2c62;
    z-index: -1;
    transform: translateY(100%);
    transition: all .5s;
}

.bg:nth-child(3) {
    left: 20px;
    transition-delay: .1s;
}

.bg:nth-child(4) {
    left: 40px;
    transition-delay: .2s;
}

.bg:nth-child(5) {
    left: 60px;
    transition-delay: .3s;
}

.bg:nth-child(6) {
    left: 80px;
    transition-delay: .4s;
}

.bg:nth-child(7) {
    left: 100px;
    transition-delay: .5s;
}

input.btnEnviar:hover {
    color: var(--claro);
    transition: .5s ease-in-out;
}

.boton:hover .bg {
    transform: translateY(0);
}