html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**Reset para REMS - 62.5% = 10px de 16px*/
    background-color: #e7e7e7;
    user-select: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h2,
h3,
a,
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #8de4af;
    font-size: 2.8rem;
}

h3 {
    font-size: 2.8rem;
    color: #5d5c61;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.contenedor-principal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    background-color: #23374d;
}

a.hecho,
a.nocompleto,
a.basura {
    color: black;
}

a.hecho:hover {
    color: #3bd964;
    transition: .2s ease-in-out;
}

a.nocompleto:hover {
    color: #d93b5b;
    transition: .2s ease-in-out;
}

a.basura:hover {
    color: #d99c3b;
    transition: .2s ease-in-out;
}

div.barra {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
}

div.barra a {
    color: black;
    margin: 0 1rem;
}

div.barra a.volver {
    font-weight: 700;
}

div.barra a i {
    margin-right: 0.5rem;
}

div.barra a.volver:hover {
    /*box-shadow: 0px 10px 5px -4px #fff;
    -webkit-box-shadow: 0px 10px 6px -4px #fff;
    -moz-box-shadow: 0px 10px 5px -4px #fff;*/
    filter: drop-shadow(0 0 1rem black);
    transition: .2s ease-in-out;
}

div.barra a.volver:hover i {
    padding-right: 0.3rem;
    transition: .2s ease-in-out;
}

.botonazul {
    display: inline-flex;
    justify-content: space-evenly;
    border: 1px solid #000000;
    border-radius: 2rem;
    padding: 1rem 1.2rem;
    align-items: center;
}

.botonazul:hover {
    background-color: #0085ff;
    border: 1px solid #0085ff;
    transform: scale(1.15);
    transition: .3s all;
    color: white;
}


/* SIDEBAR*/

aside {
    width: 25%;
    height: 100vh;
    padding: 1rem;
}

.sidebar {
    height: 100%;
    padding: 2rem 2rem;
    color: #edf5e0;
    box-shadow: 1px 1px 10px 0.5rem #5d5c61;
}

.sidebar .barraprogreso {
    height: 20rem;
    width: 20rem;
    margin: 0 auto;
    text-align: center;
}

.barraprogreso .circulo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 7px solid white;
    border-radius: 50%;
}

.circulo p {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

.circulo span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0.5rem;
}


/* SIDEBAR INDEX */

div.detallesproyectos .user {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

div.user h2 {
    font-size: 2rem;
    align-self: center;
    font-weight: 300;
}

div.user h2 span {
    font-weight: 500;
}

div.detallesproyectos p {
    font-size: 1.8rem;
}

div.user img {
    border: 1px solid white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    align-self: center;
    margin-right: 0.5rem;
}

div.acciones {
    display: inline-flex;
    flex-direction: column;
}

div.acciones a {
    margin-top: 1rem;
    font-size: 1.8rem;
}

div.acciones a i {
    font-size: 2.4rem;
    margin-right: 0.5rem;
}


/* SIDEBAR PROYECTO */

.detallesproyecto {
    display: flex;
    flex-direction: column;
}

.detallesproyecto p {
    font-size: 1.5rem;
    margin: 1rem;
    line-height: 1;
}

.detallesproyecto .opcionesproyecto {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.opcionesproyecto a {
    padding: 1rem;
    font-size: 1.4rem;
}

.opcionesproyecto a:first-child {
    font-weight: 700;
    border-radius: 2rem;
    border: 1px solid white;
}

.opcionesproyecto a:first-child:hover {
    background-color: #3bd964;
    border: 1px solid #3bd964;
    color: white;
    transform: scale(1.15);
    transition: .3s all;
}

.opcionesproyecto a:nth-child(2) {
    font-size: 1.5rem;
}

.opcionesproyecto a:nth-child(2):hover {
    color: red;
    transition: .3s all;
}


/* MAIN */


/* LISTADO DE PROYECTOS */

div.contenido {
    width: 75%;
    padding: 1rem 3rem;
    margin-top: 1rem;
}

div.listadoproyectos {
    margin-top: 3rem;
}

div.proyecto a {
    display: flex;
    border: 3px solid #5d5c61;
    margin: 1rem 0;
    background-color: #f7f5f5;
}

div.proyecto:hover {
    transform: scale(1.045);
    transition: .3s all;
    box-shadow: 1px 1px 10px 0.5rem #5d5c61;
}

div.proyecto h2.nombreproyecto {
    width: 25%;
    color: #5d5c61;
    align-self: center;
    text-align: center;
}

div.proyecto p {
    width: 50%;
    color: #5d5c61;
    align-self: center;
    text-align: center;
    font-style: italic;
}

div.proyecto h3 {
    width: 20%;
    align-self: center;
    text-align: center;
}


/* GRID TAREAS  Y BARRA*/

div.tareas {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

div.tarea {
    border: 4px solid #5d5c61;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    height: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #242121;
    background-color: #f7f5f5;
}

div.tarea h3 {
    margin: 0;
}

div.tarea p.descripcion {
    margin: 1rem;
}

div.opcionestarea {
    display: flex;
    justify-content: space-evenly;
}

div.opcionestarea i {
    font-size: 2.5rem;
    padding: 1rem;
}

div.opcionestarea i:active {
    display: none;
}

div.priority,
.opcionestarea {
    display: flex;
    justify-content: space-evenly;
}


/* SELECT */

div.priority select {
    border: 1px solid #0085ff;
    width: 4rem;
    height: 3rem;
    align-self: center;
    font-family: 'Arial', 'sans-serif';
    font-size: 1.5rem;
    border-radius: 0.5rem;
}


/* FORMULARIOS */

form {
    font-family: 'Lato', sans-serif;
    position: relative;
}

legend {
    font-size: 3rem;
    margin: 1rem;
}

fieldset {
    width: 60%;
}

label,
input,
textarea,
select {
    display: block;
    margin: 1rem;
    font-size: 2rem;
    width: 70%;
}

label.color {
    display: inline-block;
}

input#color {
    display: inline-block;
    width: 5rem;
    height: 4rem;
    padding: 0;
    border: none;
}

input:not([type="submit"]),
textarea,
select {
    border-radius: 1rem;
    border: 1px solid #242121;
    padding: 0.5rem;
}


/*
    Esta pequeña animación.
    Si se quita el overflow hidden, se verán las barras debajo del botón. Por eso es "hidden".
    Mueves las posiciones del position.
    Background-transparent quién sabe que sea, pero se ocupa.
    z-index es para declarar capas.
*/

.boton {
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: -7rem;
    left: 2rem;
    overflow: hidden;
}

input.btnEnviar {
    position: absolute;
    width: 100px;
    height: 100%;
    background: transparent;
    border: 2px solid #242121;
    cursor: pointer;
    color: #242121;
    font-size: 1.8rem;
    margin: 0;
}

.bg {
    position: absolute;
    width: 20px;
    height: 100%;
    background: #ea2c62;
    z-index: -1;
    transform: translateY(100%);
    transition: all .5s;
}

.bg:nth-child(3) {
    left: 20px;
    transition-delay: .1s;
}

.bg:nth-child(4) {
    left: 40px;
    transition-delay: .2s;
}

.bg:nth-child(5) {
    left: 60px;
    transition-delay: .3s;
}

.bg:nth-child(6) {
    left: 80px;
    transition-delay: .4s;
}

.bg:nth-child(7) {
    left: 100px;
    transition-delay: .5s;
}

input.btnEnviar:hover {
    color: white;
    transition: .5s ease-in-out;
}

.boton:hover .bg {
    transform: translateY(0);
}