doctype html
html(lang="en")
  head
    include partials/header
  body
    .contenedor-principal
      aside
        .sidebar
          .barraprogreso
            .circulo
              p 14.29%
              span COMPLETADO
          .detallesproyecto
            h2 WorkFlow
            p Cantidad de tareas: 6
            p Tareas terminadas: 1
            p Tareas pendientes: 5
            p Fecha de inicio del proyecto: 04/02/2021
            p Fecha estimada de entrega: Indefinido
            p Tiempo trabajado: 04:49:39
            .opcionesproyecto
              a.botonguardar(href='#') Guardar cambios
              a(href='#') Eliminar proyecto
      .contenido
        .barra
          a.volver(href=`/proyecto/${proyecto.url}`)
            i.fas.fa-arrow-left
            | Volver
        .listadoproyectos
          .formulario
            form(action=`/proyecto/${proyecto.url}/agregarTarea` method="POST")
              fieldset
                legend Nueva tarea
                label(for='tareanombre') ¿Cuál es el nombre de la tarea?
                input(type='text' name='tareanombre' maxlength="30")
                label(for='descripciontarea') Agrega una pequeña descripción:
                input(type='text' name='descripciontarea' maxlength="60")
                label(for='departamento') ¿A qué área de trabajo pertenece?
                select#departamento(name="departamento") 
                  option(value="ninguna" selected) -Ninguna-
                  option(value="analisis") Análisis
                  option(value="diseno") Diseño
                  option(value="coding") Coding
                  option(value="testing") Testing
                  option(value="soporte") Soporte
                label(for='prioridad') Indica la prioridad (la puedes cambiar después):
                select#prioridad(name='prioridad')
                  option(value='' disabled='' selected='') --
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
                  option(value='6') 6
              .boton
                input.btnEnviar(type='submit')
                .bg
                .bg
                .bg
                .bg
                .bg
        // Cierre de proyectos
        // Cierre del contenido
  script(src='/js/script.js')
