<!DOCTYPE html>
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')
    link(rel='stylesheet' href='../css/normalize.css')
    link(rel='stylesheet' href='../css/estilos.css')
    title WorkFlow
  body
    .contenedor-principal
      aside
        .sidebar
          .barraprogreso
            .circulo
              p WorkFlow
          .detallesproyectos
            .user
              img(src='../fish.ico' alt='Profile Pic')
              h2
                | Bienvenido, 
                span User
            a.botonazul(href='developer.html' style='margin-top:2rem;') Developer
            p Proyectos empezados: 7
            p Proyectos terminados: 0
            .acciones
              a(href='#')
                i.fas.fa-tools
                |  Configuración
              a(href='#')
                i.fas.fa-sign-out-alt
                |  Salir
      .contenido
        .barra
          a.volver(href='/')
            i.fas.fa-arrow-left
            | Volver al menú
        .listadoproyectos
          .formulario
            form(action='')
              fieldset
                legend Nuevo proyecto
                label(for='nombreproyecto') ¿Cuál es el nombre del proyecto?
                input(type='text' name='nombreproyecto')
                label(for='descripcionproyecto') Agrega una descripción:
                textarea#campotexto(name='descripcionproyecto' cols='50' rows='3')
                label(for='fechaentrega') Selecciona la fecha estimada de la entrega:
                input(type='date' name='fechaentrega')
                label(for='color') Selecciona un color para identificarlo
                input(type='text' name='color')
              .boton
                input.btnEnviar(type='submit')
                .bg
                .bg
                .bg
                .bg
                .bg
        // Cierre de proyectos
        // Cierre del contenido
        script(src='../js/script.js')
