doctype html
html(lang="en")
  head
    include partials/header
  body
    .contenedor-principal
      aside
        .sidebar
          .barraprogreso
            .circulo
              p WorkFlow
          .detallesproyectos
            .user
              img(src='/fish.ico' alt='Profile Pic')
              h2
                | Bienvenido, 
                span User
            p Proyectos empezados: #{proyectos.length}
            p Proyectos terminados: 0
            .acciones
              a(href='#')
                i.fas.fa-tools
                |  Configuración
              a(href='#')
                i.fas.fa-sign-out-alt
                |  Salir
      .contenido
        .barra
          a.volver(href='/')
            i.fas.fa-arrow-left
            | Volver al menú
        .listadoproyectos
          .formulario
            form(action="/agregarProyecto" method="POST")
              fieldset
                legend Nuevo proyecto
                label(for='nombreproyecto') ¿Cuál es el nombre del proyecto?
                input(type='text' name='nombre_proyecto' required)
                label(for='descripcion_proyecto') Agrega una descripción:
                textarea#campotexto(name='descripcion_proyecto' cols='50' rows='3' required)
                label(for='fecha_entrega') Selecciona la fecha estimada de la entrega:
                input(type='date' name='fecha_entrega' required)
                label(for="color" class="color") Selecciona un color para identificarlo:
                input(type="color" id="color" name="color" value="000000")
              .boton
                input.btnEnviar(type='submit')
                .bg
                .bg
                .bg
                .bg
                .bg
        // Cierre de proyectos
        // Cierre del contenido
  script(src='/js/script.js')
