doctype html
html(lang="en")
  head
    include partials/header
  body
    .contenedor-principal
      aside
        .sidebar
          .barraprogreso
            .circulo
              p WorkFlow
          .detallesproyectos
            .user
              img(src='/fish.ico' alt='Profile Pic')
              h2
                | Bienvenido, 
                span User
            p Proyectos empezados: 7
            p Proyectos terminados: 0
            .acciones
              a(href='#')
                i.fas.fa-tools
                |  Configuración
              a(href='#')
                i.fas.fa-sign-out-alt
                |  Salir
      .contenido
        .barra
          a.botonazul(href='/agregarProyecto')
            i.fas.fa-plus
            | Nuevo proyecto
        .listadoproyectos
          .proyecto
            a(href='/proyecto')
              .color
              h2.nombreproyecto WorkFlow
              p Administrador personal de proyectos.
              h3 14.29%
          .proyecto
            a(href='/proyecto')
              .color
              h2.nombreproyecto ROFL
              p Portafolio de diseño realizado para Ricardo Flores.
              h3 73%
          .proyecto
            a(href='/proyecto')
              .color
              h2.nombreproyecto GoldPick
              p Sitio web para una tienda de instrumentos musicales.
              h3 42.0%
        // Cierre de proyectos
        // Cierre del contenido
        script(src='/js/script.js')
