doctype html
html(lang='es')
  head
    include partials/header
  body
    .contenedor-principal.login
      .caja-login
        .encabezado
          if(error)
            h2(style="color:#d93b5b")= error
          else 
            h2 Login
          i.fas.fa-lock(style=`color:${colorCandado}`)
          //- i.fas.fa-unlock
        form(action='/iniciar-sesion' method="POST")
          .campo
            label(for='email') E-mail:
            input(type='text' name="email" id="email" required)
          .campo
            label(for='password') Contraseña:
            input(type='password' name="password" id="password" required)
          .campo
            input.btn-login(type='submit' value='Iniciar sesión')
        p ¿Aún no tienes una cuenta? 
          a(href="/registrarse" style="color:#8de4af") Regístrate
        //- // <img src="../public/d7mv1gp-78b2d5a8-99b6-4874-80a9-3427238c4f62.gif" alt="Gif">
        //- // <img src="../public/dfe4b7ce984e42e0b4438ce8bd232660.gif" alt="Gif">
        //- // <img src="../public/RingedNiceFugu-max-14mb.gif" alt="Gif">
      .contenido
        img(src=`${fondo}`, alt="El gif")
    
    include partials/footer
