doctype html
html(lang='es')
  head
    include partials/header
  body.loader
    if loading
      .loading
        img(src='success200.gif' alt="El gif")
    .contenedor-principal.login
      .caja-login
        .encabezado
          if failedLogin
            h2(style="color:#d93b5b") ERROR
            i.fas.fa-lock(style="color:#d93b5b")
          else 
            h2 Login
            i.fas.fa-lock(style="color:#fbfbfb")
          if mensaje
            p(style="color:var(--correcto)") #{mensaje}
          //- i.fas.fa-unlock
        form(action='/iniciar-sesion' method="POST")
          .campo
            label(for='email') E-mail:
            input(type='text' name="email" id="email" required)
          .campo
            label(for='password') Contraseña:
            input(type='password' name="password" id="password" required)
          .campo
            input.btn-login(type='submit' value='Iniciar sesión')
        p ¿Aún no tienes una cuenta? 
          a(href="/registrarse" style="color:#8de4af") Regístrate
        if failedLogin
          a(href="/reestablecer-password" style="color:#8de4af") Olvidé mi contraseña D:
      .contenido
        img(src=`../${fondo}` alt="El gif")
    
    include partials/footer
