doctype html
html(lang='es')
  head
    include partials/header
  body
    .contenedor-principal.login
      .caja-login
        .encabezado
          h2 Crear cuenta en WorkFlow
          if errores
            each error in errores
              p(style="color:#d93b5b;font-weight:700;font-size:2rem;margin:0;") #{error.msg}
        img(style="margin:0 auto;" src="joinus.gif" alt="El gif")
        form(action='/registrarse' method='POST')
          .campo
            label Nombre de usuario:
            input(type='text' name='nombre_usuario' required)
          .campo
            label(for='email') E-mail:
            input(type='email' name='email' required)
          .campo
            label(for='password') Contraseña:
            input(type='password' name='password' required)
          .campo
            input.btn-login(type='submit' value='Crear cuenta')
        p ¿Ya estás registrado? 
          a(href="/iniciar-sesion" style="color:#8de4af") Iniciar sesión
    
    include partials/footer
