@import 'globales.scss';
@import 'mixins.scss';
div.barra {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    align-items: center;
    a {
        display: block;
        color: var(--oscuro);
        text-align: center;
    }
    a.volver {
        font-weight: 700;
        &:hover {
            filter: drop-shadow(0 0 1rem var(--oscuro));
            transition: .2s ease-in-out;
            i {
                padding-right: 0.3rem;
                transition: .2s ease-in-out;
            }
        }
    }
    a i {
        margin-right: 0.5rem;
    }
}

div.barra.movil {
    display: none;
}

@include mq-barra-movil;
a.botonazul {
    display: inline-flex;
    justify-content: space-evenly;
    border: 1px solid var(--oscuro);
    border-radius: 2rem;
    padding: 1rem 1.2rem;
    align-items: center;
    &:hover {
        background-color: var(--btn-proyecto-tarea);
        border: 1px solid var(--btn-proyecto-tarea);
        transform: scale(1.15);
        transition: .3s all;
        color: var(--claro);
    }
}


/* 404 */

div.error-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: var(--color-principal);
        font-size: 3rem;
    }
    h2 {
        color: var(--incorrecto);
        font-size: 2rem;
    }
    img {
        width: 40rem;
    }
    a {
        color: var(--color-principal);
        text-decoration: underline;
    }
    @include mq-error404;
}


/* LOGIN */

.login {
    background-color: var(--black);
    height: 100vh;
    justify-content: center;
    color: var(--claro);
    text-align: center;
    padding: 2rem;
    .caja-login {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60rem;
        height: 40rem;
        img {
            margin: 0 auto;
            width: 10rem;
        }
    }
    .encabezado i {
        color: var(--claro);
        font-size: 2rem;
    }
    .campo {
        label {
            text-align: left;
            height: 2rem;
            color: var(--claro);
        }
        input {
            width: 100%;
            background-color: var(--oscuro);
            color: var(--claro);
        }
    }
    input[type="submit"] {
        width: 100%;
        height: 4rem;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 3rem;
        border: 1px solid var(--claro);
        background: none;
        border-radius: 2rem;
        color: var(--claro);
        &:hover {
            transition: .3s ease-in-out;
            transform: scale(1.050);
            background-color: var(--claro);
            color: var(--oscuro);
            cursor: pointer;
        }
    }
    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 55rem;
        }
    }
    @include mq-login;
}

body.loader {
    position: relative;
}

.loading {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    z-index: 21;
}


/* SIDEBAR*/

aside {
    width: 35rem;
    height: 100vh;
    padding: 1rem;
    display: block;
}

.sidebar {
    height: 100%;
    padding: 2rem 2rem;
    color: var(--claro);
    box-shadow: 1px 1px 10px 0.5rem var(--light-gray);
    .barra-progreso {
        height: 20rem;
        width: 20rem;
        margin: 0 auto;
        text-align: center;
        .circulo {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 7px solid var(--claro);
            border-radius: 50%;
            p {
                font-size: 3rem;
                font-weight: 300;
                margin: 0;
            }
            span {
                font-size: 1.5rem;
                font-weight: 300;
                margin-top: 0.5rem;
            }
        }
    }
}


/* SIDEBAR INDEX */

div.detalles-proyectos {
    .user {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        h2 {
            font-size: 2rem;
            align-self: center;
            font-weight: 300;
            span {
                font-weight: 500;
            }
        }
        img {
            border: 1px solid var(--claro);
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            align-self: center;
            margin-right: 0.5rem;
        }
    }
    p {
        font-size: 1.8rem;
    }
}

div.acciones {
    display: inline-flex;
    flex-direction: column;
    a {
        margin-top: 1rem;
        font-size: 1.8rem;
        i {
            font-size: 2.4rem;
            margin-right: 0.5rem;
        }
    }
}

@include mq-sidebar;

/* SIDEBAR PROYECTO */

.detallesproyecto {
    display: flex;
    flex-direction: column;
    p {
        font-size: 1.5rem;
        margin: 1rem;
        line-height: 1;
    }
    .opcionesproyecto {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        * {
            text-align: center;
            margin: 2rem auto;
            font-weight: 300;
            font-size: 1.4rem;
        }
        button {
            border: 1px solid var(--claro);
            color: var(--claro);
            padding: 1rem;
            border-radius: 2rem;
            background: transparent;
            cursor: pointer;
        }
        button.eliminar:hover {
            font-weight: 700;
            border: 1px solid var(--incorrecto);
            color: var(--incorrecto);
            transform: scale(1.15);
            transition: .3s all;
        }
    }
}


/* MAIN */


/* LISTADO DE PROYECTOS */

div.contenido {
    width: 75%;
    padding: 1rem 3rem;
    margin-top: 1rem;
}

div.listado-proyectos {
    margin-top: 3rem;
}

div.proyecto {
    &:hover {
        transform: scale(1.045);
        transition: .3s all;
        box-shadow: 1px 1px 10px 0.5rem var(--light-gray);
    }
    a {
        display: flex;
        border: 3px solid var(--light-gray);
        margin: 1rem 0;
        background-color: var(--claro);
    }
    .color {
        width: 5%;
    }
    h2.nombreproyecto {
        width: 25%;
        color: var(--light-gray);
        align-self: center;
        text-align: center;
    }
    p {
        margin: 0 0.5rem;
        width: 50%;
        color: var(--light-gray);
        align-self: center;
        text-align: center;
        font-style: italic;
    }
    h3 {
        width: 15%;
        align-self: center;
        text-align: center;
    }
}

div.estado-proyecto {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 1rem 0;
    div {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.4rem 1rem;
        border-radius: 50%;
        opacity: 0.25;
    }
}

div.on-time {
    background-color: var(--correcto);
    /* opacity: 1!important; */
}

div.halfway {
    background-color: gold;
}

div.ended {
    background-color: var(--incorrecto);
}

@include mq-listado-proyectos;

/* DEPARTAMENTOS */

.departamentos {
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    .barraDepto {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
    }
}

.barraVacia {
    width: 50%;
    height: 0.7rem;
    align-self: center;
    border-radius: 2rem;
    margin: 0 1rem;
    background-color: var(--light-gray);
    &:hover {
        filter: drop-shadow(0 0 1rem gold);
        transition: .3s ease-in-out;
    }
}

.progresoDepto {
    width: 0%;
    height: 0.7rem;
    border-radius: 2rem;
}


/* GRID TAREAS  Y BARRA*/

div.tareas {
    margin: 3rem;
    display: grid;
    grid-auto-columns: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
}

div.tarea {
    border: 2px solid var(--light-gray);
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--light-gray);
    background-color: var(--claro);
    position: relative;
    i.fa-ellipsis-v {
        position: absolute;
        font-size: 2.4rem;
        margin: 1rem 0.5rem;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    h3 {
        margin: 0;
    }
    p.descripcion {
        margin: 1rem;
    }
}

div.iconos-tarea {
    display: flex;
    justify-content: space-evenly;
    a {
        font-size: 2.5rem;
        margin: 1rem;
    }
}

div.selects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    .tooltiptext {
        font-size: 1.5rem;
        visibility: hidden;
        width: 12rem;
        background-color: var(--oscuro);
        color: var(--claro);
        text-align: center;
        border-radius: 6px;
        padding: 1rem 0;
        /* Posicionar el tooltip */
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
        *:not(:last-child) {
            padding: 0.5rem 2.5rem;
            border-bottom: 1px solid var(--claro);
        }
        *:last-child:hover {
            color: var(--incorrecto);
            transition: .3s ease-in-out;
        }
    }
    &:hover .tooltiptext {
        visibility: visible;
    }
}

@include mq-proyecto;

/* SELECT */

div.selects select {
    border: 1px solid var(--btn-proyecto-tarea);
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    text-align: left;
    #prioridad {
        width: 6rem;
    }
}


/* FORMULARIOS */

form.flex-form {
    display: flex;
    justify-content: center;
    width: 100rem;
    align-self: center;
    align-items: center;
    .form-child {
        width: 50rem;
        img {
            width: 23rem;
            height: 23rem;
        }
        * {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@include mq-editar-cuenta;
form {
    font-family: 'Lato', sans-serif;
    position: relative;
    img {
        width: 20rem;
        height: 20rem;
        border: 1px solid var(--claro);
    }
}

fieldset {
    display: flex;
}

legend {
    font-size: 3rem;
    margin: 1rem;
}

label,
input,
textarea,
select {
    display: block;
    margin: 1rem;
    font-size: 2rem;
    width: 70%;
}

label {
    position: relative;
}

span.feedback {
    position: absolute;
    font-weight: 300;
    font-size: 1.5rem;
    right: -3rem;
    top: 50%;
    transform: translateY(-50%);
}

.flex-form span.feedback {
    bottom: -6rem;
    right: -4rem;
}

label.color {
    display: inline-block;
}

input#color {
    display: inline-block;
    width: 5rem;
    height: 4rem;
    padding: 0;
    border: none;
}

input:not([type="submit"]),
textarea,
select {
    border-radius: 1rem;
    border: 1px solid var(--oscuro);
    padding: 0.5rem;
}

@include mq-formulario-proyecto-tarea;